{% block content %}
<div class="chat-welcome">
	<div class="chat-status">
		<div class="alert alert-info">Checking status...</div>
	</div>
	<p>Please enter your name, email and question to begin.</p>
	<div class="row">
	    <div class="col-sm-12">
			<form role="form">
		        <div class="form-group" style="position: static;">
		            <label for="client-name">Your Name</label>
		            <input type="text" class="form-control" 
						id="client-name" placeholder="Your Name" required>
		        </div>
		        <div class="form-group" style="position: static;">
		            <label for="client-email">Email Id</label>
		            <input type="email" class="form-control" 
						id="client-email" placeholder="you@example.com" required>
		        </div>
		        <div class="form-group" style="position: static;">
		            <label for="client-question">Question</label>
		            <textarea class="form-control" style="height: 200px;"
						id="client-question" placeholder="Your Question" 
						required></textarea>
		        </div>
		        <div class="form-group" style="padding-right: 20px; position: static;">
		            <button id="chat-start"
					 	type="submit" class="btn btn-primary">Submit</button>
		        </div>
			</form>
	    </div>
	</div>	
</div>
<div class="chat-sessions hide">
	<div class="row">
		<div class="col-md-12">
			<div class="chat-messages" style="height: 300px; overflow-y: auto; padding: 7px; margin-bottom: 15px;">
				<p class="text-muted">Start the chat...</p>
			</div>
			<div class="chat-input">
	            <textarea class="form-control" style="height: 50px;"
					id="chat-input" placeholder="Write Message..."></textarea>
				<p class="pull-left text-muted small">tab + enter to post</p>
				<div class="form-group pull-right" style="margin-top: 10px;">
					<button type="submit" id="chat-send-message"
						class="btn btn-success btn-small">Send</button>
				</div>
			</div>
				
		</div>
	</div>
</div>
{% endblock %}

{% block script %}{% include "templates/includes/chat.js" %}{% endblock %}
